@page "/"
@using FB2Library.Elements
@using Reader.Services
@inject IBookReaderService BookReaderService;

<h1>Hello, world!</h1>

Welcome to your new app.

<MudText Typo="Typo.h6">@_title</MudText>
<MudText Typo="Typo.h6">@_sectionName</MudText>
<MudButton Variant="Variant.Filled" Color="Color.Primary">awesome</MudButton>

@foreach (var ff in _content)
{
     <MudText Typo="Typo.body1">@ff</MudText> 
}

@code {
    string _title = "";
    string _sectionName= "";
    List<string> _content = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var book = await BookReaderService.GetBookAsync("1984.fb2");

        _title = book.TitleInfo.BookTitle.Text;
        var content2 = (SectionItem)book.MainBody.Sections.First().Content.First();
        _content = content2.Content.Select(x => x.ToString()).ToList();
        
        StateHasChanged();
    }
}