@page "/"
@using Reader.Domain.Interfaces
@inject IReaderBookState ReaderBookState;
@inject IBookReaderService BookReaderService;

<h1>@_sectionName</h1>

@if (ReaderBookState.BookSectionContent.Value != null)
{
    @foreach (var ff in ReaderBookState.BookSectionContent.Value!)
    {
        <MudText Typo="Typo.body1">@ff.Sentence</MudText>
    }
}

@code {
    string _sectionName= "";

    protected override async Task OnInitializedAsync()
    {
        await BookReaderService.LoadBookAsync("1984.fb2");

        _sectionName = ReaderBookState.BookSectionName.Value!;

        ReaderBookState.BookSectionName.OnChange += () =>
        {
            InvokeAsync(() =>
            {
                _sectionName = ReaderBookState.BookSectionName.Value!;
                StateHasChanged();
            });
        };
        
        StateHasChanged();
    }
}
